.DS_Store
/target
results.xml
*.sql
*.csv
*.json

!/test_files/*

anonymiser-aarch64-apple-darwin
anonymiser-x86_64-apple-darwin
anonymiser-x86_64-unknown-linux-gnu
anonymiser-x86_64-unknown-linux-musl
