.DS_Store
/target
/result
results.xml
*.sql
*.csv
*.json

!/test_files/dump_file.sql
!/test_files/strategy.json

anonymiser-aarch64-apple-darwin
anonymiser-x86_64-apple-darwin
anonymiser-x86_64-unknown-linux-gnu
anonymiser-x86_64-unknown-linux-musl

.direnv